.secu_header {
    font-family: 'Montserrat';
    height: 100vh;
    width: 100%;
    background-image: url("/assets/BackgroundSecu.png");
    background-size: cover;
    background-repeat: no-repeat;

    .secu_header_container {
        font-weight: 300;
        padding-top: 20%;
        padding-right: 15%;
        padding-left: 15%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-weight: normal;
            font-size: 64px;
            text-align: center;
        }

        img {
            margin-left: 30px;
            width: 10%;
            height: 10%;
        }
    }
}

.main_container3 {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 15%;
    padding-right: 15%;
    color: black;
    overflow: hidden;
    background-image: url("/assets/Section2Secu.png");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    padding-bottom: 5%;
    position: relative;

    p {
        color: #3A9BDC;
        text-align: center;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 200.9%;
        width: 60%;
    }

    ul {
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 0;

        a {
            position: relative;
            text-decoration: none;
            font-size: 20px;
            color: black;
            font-weight: 300;
            letter-spacing: 0.5px;
            padding: 0 50px;
        }

        a:after {
            content: "";
            position: absolute;
            background-color: #3A9BDC;
            height: 1px;
            width: 0%;
            left: 0;
            bottom: -10px;
        }

        a:hover:after {
            width: 100%;
            transition: 0.5s;
        }

        li {
            display: inline;
            padding-left: 50px;
        }

        li:first-child {
            padding-left: 0px !important;
        }
    }

    .secu_container {
        z-index: 100;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 100px;
        position: relative;

        .center_logo_secu {
            position: absolute;
            top: 34%;
            width: 4%;
            left: 48%;
        }


        .center_text_secu {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 35%;
            position: absolute;

            p {
                width: 40%;
                font-size: 28px;

            }
        }

        .last_button_secu {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;


            .secu_crown3 {
                position: absolute;
                width: 3%;
                top: -50%;
                left: 41%;
                transform: rotateZ(-60deg);
            }
        }

        .circle {
            width: 500px;
            height: 400px;
            background: linear-gradient(180deg, #FFF 30%, rgba(58, 155, 220, 0.67) 100%);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 5%;
            padding-bottom: 5%;

            .circle_white {
                width: 80%;
                height: 80%;
                background-color: white;
                border-radius: 50%;
                display: flex;
                align-items: center;
                padding-top: 5%;
                padding-bottom: 5%;
                flex-direction: column;


                img {

                    width: 15%;
                }

                h2 {
                    color: #3A9BDC;
                    text-align: center;
                    font-family: 'Montserrat';
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 200.9%;
                    padding: 0;
                    margin-bottom: 0px;
                    /* 80.36px */
                }

                p {
                    width: 80%;
                    text-align: center;
                    color: #3A9BDC;
                    text-align: center;
                    font-family: 'Montserrat';
                    font-size: 14px;
                    font-style: normal;
                    line-height: 200.9%;
                    padding: 0;
                    margin-bottom: 50px;
                    margin-top: 0px;
                }
            }
        }

        .secu_container_left {
            width: 100%;
            display: flex;
            position: relative;

            .secu_line1 {
                position: absolute;
                top: -30%;
                left: -22%;
                width: 144%;
            }

            .circle {
                z-index: 100;
                background: linear-gradient(180deg, #FFF 0%, rgba(58, 155, 220, 0.67) 100%);
            }

            .left_box {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .right_box {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                .secu_crown1 {
                    position: absolute;
                    width: 10%;
                    top: 10%;
                    right: 7%;
                    transform: rotateZ(30deg);
                }
            }
        }

        .secu_container_right {
            width: 100%;
            display: flex;
            position: relative;

            .circle {
                background: linear-gradient(180deg, rgba(58, 155, 220, 0.60) 3.12%, #0056A6 100%);
            }

            .left_box {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                .secu_crown2 {
                    position: absolute;
                    width: 10%;
                    top: 80%;
                    left: 7%;
                    transform: rotateZ(-160deg);
                }

                .third_circle_white {
                    p {
                        width: 75% !important;
                        font-size: 13px;
                    }
                }
            }

            .right_box {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;



                .fourth_circle_white {
                    p {
                        width: 85% !important;
                        font-size: 14px;
                    }
                }
            }
        }
    }

}


@media screen and (max-width: 1600px) {
    .main_container3 {
        padding-left: 5%;
        padding-right: 5%;
        background-position: center !important;
        .center_logo_secu {
            top: 29% !important;

        }
        .center_text_secu {
            margin-top: 40% !important;
        }
    }
}

@media screen and (max-width: 769px) {
    .secu_header {
        background-position: center;
        overflow: hidden;


        .secu_header_container {
            height: 60vh;
            padding-top: 00%;

            h1 {
                font-size: 38px;
            }

            img {
                margin-left: 30px;
                width: 10%;
            }
        }
    }

    .main_container3 {
        padding-left: 0%;
        padding-right: 0%;
        background-position: center !important;

        .center_logo_secu {
            display: none;
        }

        ul {
            display: flex;
            gap: 30px;

            a {
                font-size: 20px;
                padding: 0px;
            }

            li {
                padding-left: 0px;
            }
        }

        p {
            font-size: 18px;
            text-align: center;
            margin-top: 50px;
            width: 70%;
        }

        .secu_container {
            justify-content: center;
            align-items: center;
            margin-top: 10px;

            .center_text_secu {
                margin-top: -20%;

                p {
                    width: 100%;
                }
            }



            .secu_container_left {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .circle {
                    width: 400px;
                    height: 330px;

                    .circle_white {
                        height: 80%;
                        width: 80%;

                        h2 {
                            font-size: 24px;
                        }

                        p {
                            width: 75%;
                            font-size: 11px;
                        }
                    }
                }

                .secu_line1 {
                    display: none;
                }

                .secu_crown1 {
                    display: none;
                }

                .right_box {
                    margin-top: 50px;
                }
            }

            .secu_container_right {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .circle {
                    width: 400px;
                    height: 330px;

                    .circle_white {
                        height: 80%;
                        width: 80%;

                        h2 {
                            font-size: 24px;
                        }

                        p {
                            width: 75%;
                            font-size: 11px !important;
                        }
                    }
                }

                .third_circle {
                    .third_circle_white {
                        p {
                            width: 85% !important;
                        }
                    }

                }

                .secu_line1 {
                    display: none;
                }

                .secu_crown2 {
                    display: none;
                }

                .right_box {
                    margin-top: 50px;
                }
            }
        }

    }
}

@media screen and (max-width: 426px) {
    .secu_header {
        .secu_header_container {
            height: 70vh;

            h1 {
                font-size: 24px;
            }

            img {
                margin-left: 30px;
                width: 20%;
                height: 7%;
            }
        }
    }

    .main_container3 {

        ul {
            display: flex;
            gap: 10px;

            a {
                font-size: 14px;
                padding: 0px;
            }

            li {
                padding-left: 0px;
            }
        }

        p {
            font-size: 18px;
            text-align: center;
            margin-top: 50px;
            width: 70%;
        }

        .secu_container {
            justify-content: center;
            align-items: center;
            margin-top: 10px;

            .last_button_secu {
                margin-top: -15% !important;
                margin-bottom: 50px;
            }

            .center_text_secu {
                margin-top: -55%;

                p {
                    font-size: 18px;
                    width: 100%;
                }
            }

            .secu_container_left {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0;

                .left_box {
                    width: 100%;
                }

                .right_box {
                    width: 100%;
                }

                .circle {
                    width: 300px !important;
                    height: 250px;

                    .circle_white {
                        height: 90% !important;
                        width: 90% !important;

                        h2 {
                            font-size: 18px;
                        }

                        p {
                            width: 80%;
                            font-size: 9px;
                        }
                    }
                }

                .secu_line1 {
                    display: none;
                }

                .secu_crown1 {
                    display: none;
                }

                .right_box {
                    margin-top: 50px;
                }
            }

            .secu_container_right {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .left_box {
                    width: 100%;
                }

                .right_box {
                    width: 100%;
                }

                .circle {
                    width: 300px !important;
                    height: 250px;

                    .circle_white {
                        height: 90%;
                        width: 90%;

                        h2 {
                            font-size: 18px;
                        }

                        p {
                            width: 90% !important;
                            font-size: 9px !important;
                        }
                    }
                }

                .third_circle {
                    .third_circle_white {
                        p {
                            width: 95% !important;
                            font-size: 9px !important;
                        }
                    }

                }

                .secu_line1 {
                    display: none;
                }

                .secu_crown2 {
                    display: none;
                }

                .right_box {
                    margin-top: 50px;
                }
            }
        }

    }
}