
.container{
    padding-top: 20%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
    ul{
        color: black;
        li{
            color: black;
        }
    }
    
    h1{
        color: black;
        font-size: 64px;
        margin-top: -50px;
    }
    p{
        color: black;
    }
    h2{
        color: black;
    }
    h3{
        color: black;
    }
}

